.item-list-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 20px; 
}


.category-select {
    margin: 20px 0; 
    text-align: center; 
}

.category-select label {
    margin-right: 10px; 
}


.category-select select {
    padding: 8px; 
    border-radius: 5px; 
    border: 1px solid #ddd; 
}


.item-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 20px; 
}


.item-card {
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s, box-shadow 0.3s; 
    width: calc(25% - 20px); 
    margin: 10px; 
    overflow: hidden; 
    text-align: center; 
}


.item-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); 
}


.item-card img {
    width: 100%; 
    height: auto; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); 
}


.item-card h2 {
    font-size: 1.2em; 
    margin: 10px;
    color: #333; 
}

.item-card p {
    margin: 10px;
    color: #666; 
}


.item-card a {
    display: inline-block; 
    margin: 10px 0; 
    padding: 10px 15px; 
    background-color: #007bff; 
    color: white; 
    border-radius: 5px; 
    text-decoration: none; 
}

.item-card a:hover {
    background-color: #0056b3; 
}