.item-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
}

.item-detail-container .item-card {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    width: 60%; 
    max-width: 400px; 
    overflow: hidden; 
    text-align: center; 
}


.item-detail-container img {
    width: 100%; 
    height: auto; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.1); 
}

.item-detail-container h2 {
    font-size: 1.3em; 
    margin: 15px 0; 
    color: #333; 
}

.item-detail-container p {
    margin: 10px; 
    color: #666; 
}

.quantity-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 15px 0; 
}


.quantity-button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    margin: 0 3px; 
}

.quantity-button:hover {
    background-color: #0056b3; 
}


.quantity-input {
    width: 40px; 
    text-align: center; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    margin: 0 3px; 
}