.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    position: relative;
}

.navbar-brand {
    margin-right: 2rem;
}

.logo {
    width: 120px; /* Ajusta el tamaño del logo */
    height: auto;
}

.collapse-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.navbar-nav li {
    margin: 0;
}

.navbar-nav li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.cart-widget-container {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.navbar-toggler-custom {
    display: none;
}

@media (max-width: 991px) {
    .navbar-container {
        padding: 0 1rem;
    }

    .collapse-container {
        justify-content: center;
        position: relative;
    }

    .navbar-toggler-custom {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 1001;
    }

    .cart-widget-container {
        position: fixed;
        right: 1rem;
        top: 1rem;
        z-index: 1000;
    }
}
