/* src/styles/NavBar.css */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    /* Color de fondo */
    color: white;
    /* Color del texto */
}

.navbar-brand .logo {
    height: 50px;
    /* Ajusta la altura de tu logo */
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin: 0 15px;
}

.navbar-nav a {
    color: white;
    text-decoration: none;
}

.cart-widget-container {
    margin-left: auto;
    /* Alinea el carrito a la derecha */
}

.collapse-container {
    display: none;
    /* Ocultar por defecto */
}

.collapse-container.open {
    display: block;
    /* Mostrar cuando está abierto */
}