/* src/styles/ProductDetail.css */

.product-detail {
    text-align: center; /* Centrar texto */
    padding: 16px; /* Agregar un poco de padding */
}

.product-detail img {
    max-width: 80%; /* Limitar el ancho máximo de la imagen */
    height: auto; /* Mantener la proporción de la imagen */
    border-radius: 8px; /* Redondear los bordes de la imagen */
}

.product-detail h2 {
    font-size: 1.5em; /* Ajustar el tamaño del título */
    margin: 16px 0; /* Espaciado alrededor del título */
}

.product-detail p {
    font-size: 1em; /* Ajustar el tamaño del texto de la descripción */
    color: #555; /* Color de texto de la descripción */
}
